* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

.page {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #005932;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff; 
  background-color: #2e9979;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 1.8rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #a1a1a1;
  padding: 20px;
}

.content {
  margin-top: 20px;
}

.content__title {
  margin-bottom: 10px;
}

.content__text {
  margin-bottom: 20px;
}

.content__buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: 2px solid #a7c639;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button--primary {
  background-color: #01c465;
  color: #ffffff;
  border-color: #fffefe;
}

.button--primary:hover {
  background-color: #007c45;
  color: #ffffff;
}

.button--secondary {
  background-color: #003b21;
  color: #ffffff;
  border-color: #ffffff;
}

.button--secondary:hover {
  background-color: #00ff84;
  color: #f9f9f9;
}

.footer {
  height: 100px;
  background-color: #6ed8b3;
  color: #ffffff;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .content__buttons {
    flex-direction: column;
    gap: 5px;
  }

  .button {
    width: 100%;
  }
}
